In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
# Select only needed Item
movie_content=items[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [12]:
#read the ratings dataset
r_cols = ['user_id', 'movie id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [18]:
category_wise_rating = pd.merge(movie_content,ratings, on='movie id', how='inner')
category_wise_rating

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,user_id,rating,unix_timestamp
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,308,4,887736532
1,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,287,5,875334088
2,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,148,4,877019411
3,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,280,4,891700426
4,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,66,3,883601324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,863,1,889289570
99996,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,863,3,889289491
99997,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,863,2,889289570
99998,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,896,3,887160722
99999,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,916,3,880845755

In [23]:
# To calculate average rating per genre
avg_action=category_wise_rating.loc[category_wise_rating['Action']==1,'rating'].mean()

In [29]:
print("Action:", round(avg_action, 2))

Action: 3.48

In [25]:
# To calculate user count per genre
user_count_action = category_wise_rating.loc[category_wise_rating['Action']==1,'user_id'].nunique()

In [30]:
print("user_count_Action:", user_count_action)

user_count_Action: 938

In [48]:
# Function to identify top5_movies for the given df and genre
def top5_movies(df,column):
    top5_movies =(df[df[column] == 1]
              .groupby('movie title')['rating']
              .mean()
              .reset_index() 
              .sort_values(by='rating', ascending=False) 
              .head(5) ) 
    return top5_movies

In [49]:
top5_movies(category_wise_rating,'Action')

                         movie title    rating
207                 Star Wars (1977)  4.358491
94             Godfather, The (1972)  4.283293
179   Raiders of the Lost Ark (1981)  4.252381
230                   Titanic (1997)  4.245714
69   Empire Strikes Back, The (1980)  4.204360

In [52]:
# for calculating top5 in all genres
def top5_all_genres(df):
    genres = ['Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    # to store top 5 movies per genre
    top5_movie = {}
    for g in genres:
        # to check the flag as 1, whether it is watched or not
        genre_df=df[df[g]==1]
        # Average ratings if the same movie is watched by multiple users 
        agg = genre_df.groupby('movie title')['rating'].mean().reset_index()
        # top5 movies based on ratings by sorting them
        top5_movie[g] = agg.sort_values(by='rating',ascending=False).head(5)
    # to display result for each genre
    # Here we had defined the top5_movie as dictionary
    # key(g) is the genre and value(movies) is the top 5 movies for that particular genre 
    # items() is the dictionary method that returns pairs of key and value:
    for g, movies in top5_movie.items():
        print(f"\n Top 5 {g} movies:")
        print(movies)
  return(top5_movie)

In [53]:
top5_all_genres(category_wise_rating)

 Top 5 Action movies:
                         movie title    rating
207                 Star Wars (1977)  4.358491
94             Godfather, The (1972)  4.283293
179   Raiders of the Lost Ark (1981)  4.252381
230                   Titanic (1997)  4.245714
69   Empire Strikes Back, The (1980)  4.204360

 Top 5 Adventure movies:
                         movie title    rating
103                  Star Kid (1997)  5.000000
112                 Star Wars (1977)  4.358491
92    Raiders of the Lost Ark (1981)  4.252381
74         Lawrence of Arabia (1962)  4.231214
35   Empire Strikes Back, The (1980)  4.204360

 Top 5 Animation movies:
                                          movie title    rating
12                              Close Shave, A (1995)  4.491071
41                         Wrong Trousers, The (1993)  4.466102
39  Wallace & Gromit: The Best of Aardman Animatio...  4.447761
15                                       Faust (1994)  4.200000
19                            Grand Day Out, A (1992)  4.106061

 Top 5 Children's movies:
                           movie title    rating
102                    Star Kid (1997)  5.000000
118           Wizard of Oz, The (1939)  4.077236
16                         Babe (1995)  3.995434
111                   Toy Story (1995)  3.878319
31   E.T. the Extra-Terrestrial (1982)  3.833333

 Top 5 Comedy movies:
                    movie title    rating
391   Santa with Muscles (1996)  5.000000
97        Close Shave, A (1995)  4.491071
495  Wrong Trousers, The (1993)  4.466102
337   North by Northwest (1959)  4.284916
400      Shall We Dance? (1996)  4.260870

 Top 5 Crime movies:
                         movie title    rating
95    They Made Me a Criminal (1939)  5.000000
104       Usual Suspects, The (1995)  4.385768
61   Letter From Death Row, A (1998)  4.333333
34             Godfather, The (1972)  4.283293
21                  Crossfire (1947)  4.250000

 Top 5 Documentary movies:
                                   movie title    rating
31  Marlene Dietrich: Shadow and Light (1996)   5.000000
18               Great Day in Harlem, A (1994)  5.000000
12                              Everest (1998)  4.500000
32      Maya Lin: A Strong Clear Vision (1994)  4.500000
21                          Hoop Dreams (1994)  4.094017

 Top 5 Drama movies:
                                           movie title  rating
590                      Someone Else's America (1995)     5.0
623                     They Made Me a Criminal (1939)     5.0
544               Saint of Fort Washington, The (1993)     5.0
10                                Aiqing wansui (1994)     5.0
197  Entertaining Angels: The Dorothy Day Story (1996)     5.0

 Top 5 Fantasy movies:
                            movie title    rating
20                      Star Kid (1997)  5.000000
4     E.T. the Extra-Terrestrial (1982)  3.833333
8             Heavenly Creatures (1994)  3.671429
0   20,000 Leagues Under the Sea (1954)  3.500000
11                       Jumanji (1995)  3.312500

 Top 5 Film-Noir movies:
                         movie title    rating
14  Manchurian Candidate, The (1962)  4.259542
4                   Crossfire (1947)  4.250000
13        Maltese Falcon, The (1941)  4.210145
20               Sunset Blvd. (1950)  4.200000
10          L.A. Confidential (1997)  4.161616

 Top 5 Horror movies:
                  movie title    rating
71              Psycho (1960)  4.100418
1                Alien (1979)  4.034364
89  Young Frankenstein (1974)  3.945000
26           Braindead (1992)  3.857143
78        Shining, The (1980)  3.825243

 Top 5 Musical movies:
                     movie title    rating
55      Wizard of Oz, The (1939)  4.077236
52                Top Hat (1935)  4.047619
13  Damsel in Distress, A (1937)  4.000000
45    Singin' in the Rain (1952)  3.992701
50     This Is Spinal Tap (1984)  3.905759

 Top 5 Mystery movies:
                   movie title    rating
45          Rear Window (1954)  4.387560
53       Third Man, The (1949)  4.333333
57              Vertigo (1958)  4.251397
36  Maltese Falcon, The (1941)  4.210145
2               Amadeus (1984)  4.163043

 Top 5 Romance movies:
                         movie title    rating
31                 Casablanca (1942)  4.456790
202                 Star Wars (1977)  4.358491
213                   Titanic (1997)  4.245714
56   Empire Strikes Back, The (1980)  4.204360
3      Affair to Remember, An (1957)  4.192308

 Top 5 Sci-Fi movies:
                                          movie title    rating
74                                    Star Kid (1997)  5.000000
83                                   Star Wars (1977)  4.358491
28  Dr. Strangelove or: How I Learned to Stop Worr...  4.252577
30                    Empire Strikes Back, The (1980)  4.204360
14                                Blade Runner (1982)  4.138182

 Top 5 Thriller movies:
                                 movie title    rating
44                     Close Shave, A (1995)  4.491071
179                       Rear Window (1954)  4.387560
240               Usual Suspects, The (1995)  4.385768
224                    Third Man, The (1949)  4.333333
205  Some Folks Call It a Sling Blade (1993)  4.292683

 Top 5 War movies:
                                          movie title    rating
61                            Schindler's List (1993)  4.466443
9                                   Casablanca (1942)  4.456790
64                                   Star Wars (1977)  4.358491
16  Dr. Strangelove or: How I Learned to Stop Worr...  4.252577
39                          Lawrence of Arabia (1962)  4.231214

 Top 5 Western movies:
                                  movie title    rating
10                           High Noon (1952)  4.102273
23                     Wild Bunch, The (1969)  4.023256
3   Butch Cassidy and the Sundance Kid (1969)  3.949074
14              Magnificent Seven, The (1954)  3.942149
16        Once Upon a Time in the West (1969)  3.868421